.button {
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button.button--full {
    margin: 0;
    width: 100%;
}

.button.button--red {
    background: #DC3545;
}

.button.button--blue {
    background: #17A2B8;
}

.button.button--grey {
    background: #999999;
}

.button.button--green {
    background: #28A745;
}
