.card {
    background: #F6F6F6;
    border: rgba(223, 225, 229, 0);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-top: 0.25rem solid #02A7E2;
    border-bottom: 0.25rem solid #02A7E2;
}

.card__title {
    font-size: 1.5rem;
    margin: 0 0 0.75rem;
    border-left: 0.25rem solid #02A7E2;
    padding-left: 0.5rem;
}

.card__label {
    top: 0.65rem;
    right: 0.65rem;
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: .65em;
    color: #FFFFFF;
    background-color: #0D6EFD;
    border: 1px solid;
    border-radius: 0.25rem;
    width: fit-content;
    margin-bottom: 0.5rem;
}
