.form__label {
    font-weight: bold;
}

.form__input {
    display: inline-block;
    border: 0.1rem solid #cccccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 0.75rem 1.5rem;
    width: 100%;
}
